/* SCORE */
.score {
   text-align: center;
   margin-top: 50px;
}
.score > table {
   border: 1px solid black;
   max-width: 500px;
   font-size: 25px;
   margin-left: auto;
   margin-right: auto;
}
.score > table > tr > th,td {
   padding: 10px;
}
.score > table > tr > td {
   font-size: 40px;
}

/* HOW IT WORKS */
.howItWorks {
   margin-top: 50px;
   font-size: 18px;
}

/* SHARE BUTTONS */
.shareButtons {
   margin-top: 50px;
   text-align: center;
}
.shareButtons .btn {
   margin: 5px 10px;
}

/* STATS */
.stats {
   margin-top: 50px;
   font-size: 18px;
   line-height: 1.33333;
}

/* BUTTONS */
.buttons {
   margin-top: 50px;
}
.buttons button.goingIn.selected {
   color: white;
   background-color: green;
}
/*.buttons button .goingIn {
   color: green;
   background-color: green;
}*/
.buttons button.goingOut.selected {
   color: white;
   background-color: red;
}


/* FOOTER */
footer {
   margin-top: 30px;
   margin-bottom: 30px;
   font-size: 18px;
}
footer a {
   margin: 10px;
   font-size: 18px;
}
footer .twitterBtn {
   color: white;
   background-color: #55ACEE;
}
footer .facebookBtn {
   color: white;
   background-color: blue;
}
footer .githubBtn {
   color: white;
   background-color: black;
}
